@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes/stitch.css";

:root {
  font-family: 'Google Sans', 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--fallback-b2,oklch(var(--b2)/1));
}
